body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #15232e;
}

h1 {
    font-size: 60px;
    color:aliceblue;
    letter-spacing: 1px;
}

h2 {
    color: #FFA400;
    font-weight: bold;
}
h3, h4 {
    color:aliceblue;
}

p {
    color: aliceblue;
}

.navbar {
    height: 100px;
}

#weatherContent {
    display: none;
}